<div class="bookmark">
	<p>
		<%= link_to image_tag(bookmark.snapshot.url(:medium), :class => "img-rounded"), bookmark.url, :target => "_BLANK" %>
	</p>
	<p><%= bookmark.description %></p>	
	<p><%= link_to "view", bookmark  %></p>	
</div> 
