<div class="bookmark col-md-3 col-sm-6 col-lg-3 col-xs-12">
	<div>
	<%= link_to image_tag(bookmark.snapshot.url(:medium), :class => "img-rounded"), bookmark.url, :target => "_BLANK", :class => "link thumbnail" %>
	<p class="details">
	<span class="description"><%= bookmark.description %></span>	
		<%= link_to(bookmark) do %>
			<i class="glyphicon glyphicon-zoom-in"></i>
		<% end %>
	</p>
	</div>
</div>
