<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
	<%= render bookmark %>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
