<span id="notice"><%= notice %></span>

<div class="row">
	<div class="col-md-12" id="subcategories-container">
		<%= render @categories %>
	</div>
</div>
<div class="row" id="bookmarks-container">
				<%= render @bookmarks %>
</div>
