// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bookmark {
  float: left;
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #c0c0c0;
}

.bookmark a {
	text-align: center;
}
