// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$amount: 6px;

.category {
  float: left;
  width: 100px;
  margin: 5px;
  padding: 5px;
  background-color: #f5f5f5;
  text-align: center;
}

.category p {
  margin-bottom: 5px;
}

#subcategories-container {
	float: left;
	clear:both;
}
#new-category a:hover {
	text-decoration: none;
}

#new-category a {
	line-height: 45px;
	display: block;
	background-color: white;
	width: 100px;
	height: 100px;
	font-size: 20px;
	text-align: center;
}

.category > a {
	text-align: center;
	display: block;
}
