html,
body {
    height: 100%;
	color: #333;
	font-family: 'Raleway', sans-serif;
}
 
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -32px;
}
	
@media (min-width: 980px) {
#wrap #main-container {
	padding-top: 50px;
}
}
#push,
footer {
    height: 30px;
    min-height: 30px !important;
	text-align: center;
}

footer p {
	margin: 5px 0 0 0;
}

.clear {
	clear : both;
}

body {
	background-image: image-url("background.png");
	background-repeat: repeat; 
}

.button-box {
  text-align: right;
}

p.details {
    position: absolute;
    background: rgba(255,255,255,0.9);
    margin-top:-40px;
    height: 40px;
    text-align: right;
    float: right;
    right: 0;
    left: 0;
    margin-bottom: 0;
    display: none;
    width: auto;
}

p.details a:hover{
  text-decoration: none;
}

.thumbnail {
	transition: none;
	-webkit-transition:none;
	-moz-transition:none;
}
