<div class="category thumbnail">
	<%=  link_to category do 
		if  category.bookmarks.empty? then
			image_tag("/missing.png", :class => "img-rounded")
		else
			image_tag(category.bookmarks.last.snapshot.url(:thumb), :class => "img-rounded")
		end
		
	end	%>
	<p class="description"><%= category.title %></p>
</div>
