<div class="category thumbnail">
	<%= image_tag(category.bookmarks.last.snapshot.url(:thumb), :class => "img-rounded") unless category.bookmarks.empty? %>
	<p><%= category.title %></p>
	<p class="details">
		<%= link_to category  do %>
			<i class="icon-zoom-in"></i>
		<% end %>
	</p>
</div>
